<div>
  <div>Alterar Topico</div>
  <form *ngIf="topico">
    <div>
      <input type="text" placeholder="Titulo"  [(ngModel)]="topico.titulo" name="tiutlo" />
    </div>
    <div>
      <input type="text" placeholder="Categoria" [(ngModel)]="topico.categoria" name="categoria" />
    </div>
    <div>
      <input type="text" placeholder="Conteudo" [(ngModel)]="topico.conteudo" name="conteudo" />
    </div>
    <div>
      <input type="text" placeholder="Status" [(ngModel)]="topico.status" name="status" />
    </div>
  </form>
  <button (click)="editarTopico()" color="primary">
    Salvar
  </button>


</div>
