
<br><br><br><br>
<div>
  <div class="home p-3 mb-2  text-dark">
    <div class="title">
      Altualização do tópico!
    </div>
  </div>
  <form *ngIf="topico">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Titulo</span>
      </div>
      <input type="text" class="form-control" placeholder="Titulo" name="tiutlo" aria-label="Titulo"
        [(ngModel)]="topico.titulo" aria-describedby="basic-addon1">
    </div>
    <br>


    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Conteúdo</span>
      </div>
      <textarea class="form-control" aria-label="With textarea" class="form-control" placeholder="Conteudo"
        [(ngModel)]="topico.conteudo" name="conteudo" aria-describedby="basic-addon1"></textarea>
    </div>
    <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Categoria</span>
      </div>
      <input type="text" class="form-control col-4 " placeholder="Categoria" [(ngModel)]="topico.categoria"
        name="categoria" aria-describedby="basic-addon1">

      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Status</span>
      </div>
      <input type="text" class="form-control col-4" placeholder="Status" [(ngModel)]="topico.status" name="status"
        aria-describedby="basic-addon1">
      <small>true-ATIVO <br>
        false-DESATIVADO)</small>
    </div>


  </form>
  <button class="btn btn-primary" (click)="editarTopico()" color="primary" style="background-color: red;">
    Salvar
  </button>


</div>
