
<br><br><br><br>
<div class="home p-3 mb-2 ">
  <div class="title">
    Olá, sou sua Base de Conhecimento!
  </div>
  <div class="subtitle">
    No que posso ajudar?
  </div>
</div>


<br><br><br><br>
<div class="form-group row">
  <label for="inpuTitulo" class="col-sm-1 col-form-label">Titulo</label>
  <div class="col-sm-5">
    <input type="text" class="form-control" id="inpuTitulo" [(ngModel)]="filters.titulo"
      placeholder="Digite o Título que deseja consultar">
  </div>
</div>
<div class="form-group row">
  <label for="inputCategoria" class="col-sm-1 col-form-label">Categoria</label>
  <div class="col-sm-5">
    <input type="text" class="form-control" id="inputCategoria" [(ngModel)]="filters.categoria"
      onkeyup="this.value = this.value.toUpperCase();" placeholder="Digite a categoria que deseja consultar">
  </div>
  <br>

  <button type="button" class="btn btn-primary" (click)="applyFilters()"
    style="float: center; background-color: red;">Consultar</button>
</div>
<br>
<br>
<div (scrolled)="onScroll()">
  <table class="table table-striped">
    <thead class="thead-light ">
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Conteudo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Acao</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let topico of topicos">
        <th scope="row"> {{topico.titulo}} </th>
        <td>{{topico.conteudo}}</td>
        <td>{{topico.categoria}}</td>
        <td> <a (click)="setEditar(topico.id)" class="edit"><svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg></a></td>
      </tr>
    </tbody>
  </table>
</div>
<div id="barraMin" style="height: 0px; overflow-x: auto;"></div>
