.home .title{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: aliceblue;
  font-style: normal;
}

.home .subtitle{
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: aliceblue;
  font-style: normal;
}

.form-group{
  text-align: left;
  font-weight: 300;
  color: aliceblue;
}

.table{
  text-align: center;
  font-weight: 300;
  color: aliceblue;
}
