<br>
<br>
<h4>Trabalhando em um topico para a base</h4>
<br>
<br>
<form [formGroup]="formGroup" (ngSubmit)="inserirTopico(); $event.caseDefault()">

  <div class="form-group">
    <label for="titulo">Titulo: </label>
    <input type="text" class="form-control col-4" formControlName="titulo">
  </div>

  <div class="form-group">
    <label for="conteudo">Conteudo: </label>
    <input type="text" class="form-control col-4" formControlName="conteudo">
  </div>

  <div class="form-group">
    <label for="categoria">Categoria: </label>
    <input type="text" class="form-control col-4" formControlName="categoria">
  </div>

  <div class="form-group">
    <label for="status">Status(TRUE-ATIVO / FALSE-DESATIVADO): </label>
    <input type="text" class="form-control col-4" formControlName="status">


  </div>

  <button type="submit" class="btn btn-primary" >Enviar tópico para a base</button>
</form>

<br>
<br>
